.withdrawalTopContainer{
  display: flex;
  align-items: center;
  position: relative;
  margin: 40px 40px 0px 40px;
}

.withdrawalBackArrowButton{
  position: absolute;
}

.withdrawalCurrencyContainer {
  margin-top: 50px;
  margin-bottom: 60px;
}
.withdrawalThanksContainer {
  margin: 20px 0px 10px 0px;
}
.withdrawalText {
  font-size: 20px;
  font-weight: bold;
}

.withdrawalTextBlock {
  display: block
}

.withdrawalSummaryText {
  flex-grow:1;
}

.currencyDetailsContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1023px){
  .currencyDetailsContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px){
  .withdrawalTopContainer {
    margin: 40px 0px 0px 0px;
  }
}