:root{
--primary-color: #2bbed3;

}
body, input {
  font-size: 40px;
  margin: 0;
  background-color: var(--primary-color);
  color: #ffff;
  font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
